.form-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1.5% auto;
    max-width: 90%;
    justify-content: space-around;
    color: black;
    font-family: "Anek Latin", sans-serif;
    font-weight: 400;
    font-size: medium;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    min-height: 75vh;
    box-sizing: border-box;
  }
  
  .formStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  h4 {
    font-size: 38px;
    text-align: center;
    margin-left: 30px;
  }
  
  p {
    font-size: small;
    align-items: left;
  }
  
  /* Label styles */
  label {
    width: 100%;
    margin-bottom: 12px;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 16px;
    max-width: 50%;
  }
  
  /* Input styles */
  input[type="number"],
  select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .submitStyle {
    width: 120px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    background-color: #383838;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
  }

  .submitStyle1 {
    width: 120px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
  }
  
  .submitStyle:hover {
    background: black;
    transform: scale(1.02);
  }

  .submitStyle1:hover {
    background: black;
    transform: scale(1.02);
  }
  
  .marginGap {
    margin-top: 30px;
  }
  
  .roundCorner1 {
    background-color: #f2f2f2;
    border-top-left-radius: 5px;
  }
  
  .roundCorner2 {
    background-color: #f2f2f2;
    border-top-right-radius: 5px;
  }
  
  .roundCorner3 {
    background-color: #f2f2f2;
    border-bottom-left-radius: 5px;
  }
  
  .roundCorner4 {
    background-color: #f2f2f2;
    border-bottom-right-radius: 5px;
  }
  
  .bcFix {
    background-color: #f2f2f2;
  }
  
  .fixBor {
    border: none;
  }
  
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    align-items: center;
    min-height: 75vh;
    box-sizing: border-box;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .tableStyle {
    border-collapse: separate;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
    border-spacing: 0;
    position: relative;
    margin-bottom: 30px;
  }
  
  .tableStyle th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  .tableStyle td:last-of-type {
    text-align: center;
  }
  
  .tableStyle tfoot th {
    text-align: right;
  }
  
  .tableStyle tfoot td {
    font-weight: bold;
  }
  
  .fixedchargesStyle {
    margin-top: 10px;
  }
  
  .bill-amount {
    font-size: 32px;
    font-weight: 900;
    margin-left: 10px;
  }

  .billtext {
    align-items: center;
    margin-right: 100px;
    margin-top: 200px;
  }

  .columnGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #my-chart {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  #my-chart .bar {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  #my-chart .legend {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 600px) {
    .form-box {
      margin: 5% auto;
      max-width: 100%;
      font-size: small;
    }
    
    .formStyle {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
    
    .stateStyle {
      display: flex;
      padding-top: 5%;
      padding-bottom: 5%;
      justify-content: space-between;
    }
    
    .submitStyle {
      padding: 5%;
    } 

    h4 {
      margin-left: 10px;
    }

    label {
      max-width: 100%;
    }

    .columnGrid {
      display: flex;
      flex-direction: column;
    }

    .billtext {
      align-items: left;
      margin-right: 1px;
      margin-top: 20px;
    }

    .submitStyle {
      width: 40%;
      display: block;
      align-items: center;
      justify-content: center;
      margin-top: 2%;
      background-color: #383838;
      color: white;
      border: none;
      padding: 5%;
      border-radius: 8px;
    }

    .submitStyle1 {
      width: 40%;
      display: block;
      align-items: center;
      justify-content: center;
      background-color: #383838;
      color: white;
      border: none;
      padding: 5%;
      border-radius: 8px;
    }
  }