.form-box {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 5% auto;
  margin-top: 0%;
  max-width: 50%;
  justify-content: space-around;
  color: black;
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
}

.formStyle {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

h4 {
  font-size: 40px;
  text-align: center;
  padding: 2%;
}

p {
  font-size: small;
  align-items: left;
}

/* Label styles */
label {
  width: 100%;
  margin-bottom: 12px;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 16px;
  background-color: #FAF9F6;
}

/* Input styles */
input[type="text"],
select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #FAF9F6;
}

.submitStyle {
  width: 30%;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  background-color: #383838;
  color: white;
  border: none;
  padding: 2%;
  border-radius: 8px;
}

.marginGap {
  margin-top: 30px;
}

.roundCorner1 {
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
}

.roundCorner2 {
  background-color: #f2f2f2;
  border-top-right-radius: 5px;
}

.roundCorner3 {
  background-color: #f2f2f2;
  border-bottom-left-radius: 5px;
}

.roundCorner4 {
  background-color: #f2f2f2;
  border-bottom-right-radius: 5px;
}

.bcFix {
  background-color: #f2f2f2;
}

.fixBor {
  border: none;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-weight: 400;
}

h2 {
  font-size: 30px;
}

table {
  border-collapse: separate;
  border: 2px solid rgb(140 140 140);
  letter-spacing: 1px;
  border-spacing: 0;
  position: relative;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.fixedchargesStyle {
  margin-top: 10px;
}

.tableStyle {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .form-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5% auto;
    max-width: 80%;
    justify-content: space-around;
    font-size: small;
  }
  
  .formStyle {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .stateStyle {
    display: flex;
    /* text-align: left; */
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-between;
  }
  
  .submitStyle {
    padding: 3%;

  } 
}